/* Parametro generales del diseño de la web */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "inter", sans-serif;
}


header {
  height: 10vh;
}

main {
  background: linear-gradient(to bottom, #fcc5c5 20%, #ffffff 50%);
}


a{
  text-decoration: none;
}


button {
  background: none;   
  border: none;       
  padding: 0;        
  margin: 0;          
  font: inherit;        
  color: inherit;     
  cursor: pointer;    
}


/* Contenedor del nav */
.nav-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    /* border: solid 2px green; */
    padding: 0 30px;
    width: 100%;
}


.nav-menuArea{
  display:flex;
  align-items: center;
  /* border: red solid 2px; */
  width: 80%;
}


.nav-menu{
  display:flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  flex-wrap: wrap;
}

/* Botones del navegador principal */
.nav-menu button {
  position: relative;
  background: none;
  border: none;
  font-size: 16px;
  cursor: pointer;
  padding: 10px 0;
  transition: color 0.5s ease;
  font-weight: 500;
  height: 60px;
}

.nav-menu button:hover{
  font-weight: 700;
}


.nav-menu button::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 2px;
  background-color: currentColor;
  transition: width 0.5s ease;
}

.nav-menu button:hover::after {
  width: 100%;
}


/* Botones del navegador de operaciones */
.nav-operation{
  display:flex;
  justify-content: space-between;
  align-items: center;
  /* border: 2px solid blueviolet; */
  flex-wrap: wrap;
}


.nav-operation div{
  display: flex;
  align-items: center;
  padding: 0 30px;
}

.nav-operation i {
  font-size: 20px;
  color: black;
  transition: transform 0.5s ease;
}

.nav-operation i:hover{
  transform: scale(1.3);
}


/* Contenedor del main */
/* Imagen principal del main */
.main-img{
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-img img{
  max-width: 100%;
  height: 90vh;
  object-fit: cover;
}


.main-menu{
  display:flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  /* padding: 20px; */
  text-align: center;
  width: 100%;
  height: 90vh;
  flex-wrap: wrap;
}

.main-letter{
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-self: center;
  gap: 30px;
  /* border: 2px solid red; */
  padding: 30px;
}

.slider-principal {
  width: 50%;
  padding: 30px;
}

.main-menu h2{
  font-size: 30px;
  padding: 30px 0;

}


/* Contenedor Slider con imagenes*/
.slider-container {
  width: 100%;
  max-width: 900px;     /* Ajusta al diseño */
  margin: 0 auto;
  overflow: hidden;     /* Oculta las otras imágenes */
}

/* CARRIL DE IMÁGENES */
.slider {
  display: flex;
  transition: transform 0.4s ease;
  cursor: grab;
}

/* IMÁGENES DEL SLIDER */
.slider img {
  width: 100%;
  flex-shrink: 0;       /* Evita que se encojan */
  height: 400px;        /* Ajusta si quieres */
  object-fit: cover;
  user-select: none;
  cursor: grab;
}

/* Base animada de la parte del Main Menu */
.main-letter,
.slider-principal {
  opacity: 0;
  animation-timeline: view();
  animation-fill-mode: both;
  animation-duration: 0.5s;
  animation-timing-function: cubic-bezier(.22,.8,.36,1);
}

/* Parte solo del texto entrando de izquierda a derecha */
.main-letter.left {
  animation-name: slide-left;
  animation-range: entry 0% entry 150%;
 
}

/* Parte solo de las imagenes entrando de derecha a izquierda */
.slider-principal.right {
  animation-name: slide-right;
  animation-range: entry 0% entry 150%;
}

/* Aqui realizo las animaciones de izquierda a derecha */
@keyframes slide-left {
  from {
    opacity: 0;
    transform: translateX(-100px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

/* Aqui realizo las animaciones de derecha a izquierda */
@keyframes slide-right {
  from {
    opacity: 0;
    transform: translateX(100px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}




/* Contenedor de la parte service */
.service{
  /* border: 2px solid red; */
  background: linear-gradient(to bottom, #ffffff, #fff5f5);
}

.service-container{
  width: 100%;
  padding: 30px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  /* border: 2px solid red; */
}


.service-container-card{
  /* border: 2px solid red; */
  padding: 20px;
  height: 80px;
  display: inline-block;
  width: auto;
  transition: transform 0.3s linear;
}


.service-container-card a{
  display: flex;
  align-items: center;
  flex-direction: column;
  color: black;
}

.service-container-card:hover{
  transform: scale(1.1);
  text-shadow: 1px 3px 6px rgb(0, 0, 0, 0.4);
}


/* Contenedor del footer */
footer{
  height: 30vh;
  width: 100%;
  background: rgb(248, 220, 220);

}


.container-footer{
  border: 2px solid red;
}

.container-footer2{
  border: 2px solid red;
}


/* Medias Querys */

