/* Parametro generales del diseño de la web */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "inter", sans-serif;
}

/* Contenedor del nav */
.nav-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    border: solid 2px green;
    padding: 0 30px;
}


.nav-menuArea{
  display:flex;
  align-items: center;
  border: red solid 2px;
  width: 80%;
}


.nav-menu{
  display:flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}





/* Contenedor del main */

/* CONTENEDOR DEL SLIDER */
.slider-container {
  width: 100%;
  max-width: 900px;     /* Ajusta al diseño */
  margin: 0 auto;
  overflow: hidden;     /* Oculta las otras imágenes */
}

/* CARRIL DE IMÁGENES */
.slider {
  display: flex;
  transition: transform 0.4s ease;
  cursor: grab;
}

/* IMÁGENES DEL SLIDER */
.slider img {
  width: 100%;
  flex-shrink: 0;       /* Evita que se encojan */
  height: 400px;        /* Ajusta si quieres */
  object-fit: cover;
  user-select: none;
  cursor: grab;
}


/* Contenedor del footer */

/* Medias Querys */

